.kakaomap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .map-main {
        padding: 10px;
    }

    .address{
        width: 100px;
    }

    .show-button {
        position: relative;
        width: 90px;
        height: 20px;
        margin-top: 10px;
        margin-right: 6px;
        margin-left: 6px;
        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        border-radius: 5px;
        color: #000;
        background: transparent;
        border: none;
        outline: none;
        appearance: none;
        font-size: 14px;
        display: block;
        letter-spacing: .5px;
        transition: color 0.3s ease;

        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            direction: rtl;
            z-index: -1;
            box-shadow: 
                -7px -7px 20px 0px rgba(251, 233, 34, 0.603),
                -4px -4px 5px 0px rgba(251, 233, 34, 0.603),
                7px 7px 20px 0px #0002,
                4px 4px 5px 0px #0001;
            transition: all 0.3s ease;
        }

        &:hover {
            color: #000;
        }

        &:hover:after {
            left: auto;
            right: 0;
            width: 100%;
        }
    }
}