.item-form {
    margin: 0 auto;
    width: 400px;
    display: flex;
    border: none;

    span{
        width: 100%;
        border: 1px solid black;
    }

    .check-button{
        width: 50px;
        height: 20px;
        background: none;
        border: none;

        img{
            margin : 0 auto;
        }
    }    

    .edit-button{
        width: 50px;
        height: 20px;
        background-color: #224B5E;     
        color: #FFFFFF;   
        border-radius: 5px;
        font-size: 12px;
        margin-left: 3px;
    }
    .delete-button{
        width: 50px;
        height: 20px;
        background-color: #de493e;
        border: 1px solid #de493e;  
        color: #FFFFFF;   
        border-radius: 5px;
        font-size: 12px;
        margin-left: 3px;
    }
}

//수정 모달 Style
.edit-modal-content{
    display: flex;
    float: right;
    margin-bottom: 10px;

    .list-edit-commit,
    .list-edit-close{
        background: none;
        border: none;
    }

    
}

.item-edit-span{
        width: 100%;
        margin-bottom: 10px;
}
.memo-edit-span{
        width: 100%;
        height: 300px;
}