.list-form{
    display: flexbox;
    
        .list-add-btn{
        margin: 0 auto;
        margin-top: 10px;
        display: grid;
        width: 6.25rem;
        
        
        //리스트 추가버튼 CSS
        button{
            --background: #000000;
            --text: #fff;
            --font-size: 1rem;
            --duration: .44s;
            --move-hover: -4px;
            --shadow: 0 2px 8px -1px #{rgba(#000000, .32)};
            --shadow-hover: 0 4px 20px -2px #{rgba(#000000, .5)};
            --font-shadow: var(--font-size);
            font-family: "Noto Sans", sans-serif;
            font-weight: 500;
            line-height: var(--font-size);
            border-radius: 5px;
            display: block;
            outline: none;
            appearance: none;
            border: none;
            text-decoration: none;
            font-size: 0.875rem;
            margin-right: 6px;
            margin-left: 6px;
            letter-spacing: .5px;
            background: var(--background);
            color: var(--text);
            box-shadow: var(--shadow);
            transform: translateY(var(--y)) translateZ(0);
            transition: transform var(--duration) ease, box-shadow var(--duration) ease;
            height: 1.25rem;
            div {
                display: flex;
                overflow: hidden;
                text-shadow: 0 var(--font-shadow) 0 var(--text);
                span {
                    display: block;
                    backface-visibility: hidden;
                    font-style: normal;
                    transition: transform var(--duration) ease;
                    transform: translateY(var(--m)) translateZ(0);
                    $i: 1;
                    @while $i < 12 {
                        &:nth-child(#{$i}) {
                            transition-delay: $i / 20 + s;
                        }
                        $i: $i + 1;
                    }
                }
            }

        }   
} 

.list-create-form {

    margin: 0 auto;
    width: 25rem;
    margin-top: 10px;

        .datepicker{
            display: flex;
            gap: 2px;
            margin-bottom: 10px;

            span{
                font-size: 1.5625rem;
            }
        }
        
        button{
            background-color: #000000;
            border: 1px solid #000000;
            color: white;
            margin-left: 8px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .post-btn {
            background-color: #e03a3a;
            border: 1px outset #e03a3a;
            color: white;
            margin-left: 8px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .post-item-input{
            width: 19.0625rem;
            border: none;
            border-bottom: 1px solid black;

            &:focus{
                outline: none;
            }
        }

        .post-memo-input{
            width: 24.6875rem;
            height: 9.375rem;    
            text-align:left ;
            font-size: 0.9375rem;
            margin: 0 auto;

                &:focus{
                    outline: none;
                }
        }

        .datepick-emoji{
            display: grid;
            margin: 0 auto;
                .emoji-container{
                    flex: 1;
                    margin: 0 auto;
                    margin-top: 10px;
                }
        }
    }

}


