.list-add-btn{
    margin: 0 auto;
    margin-top: 10px;
    float: right;
    
    
    //리스트 추가버튼 CSS
    button{
        --background: #000000;
        --text: #fff;
        --font-size: 16px;
        --duration: .44s;
        --move-hover: -4px;
        --shadow: 0 2px 8px -1px #{rgba(#000000, .32)};
        --shadow-hover: 0 4px 20px -2px #{rgba(#000000, .5)};
        --font-shadow: var(--font-size);
        padding: 5px 15px;
        font-family: 'Roboto';
        font-weight: 500;
        line-height: var(--font-size);
        border-radius: 24px;
        display: block;
        outline: none;
        appearance: none;
        border: none;
        text-decoration: none;
        font-size: 14px;
        margin-right: 6px;
        margin-left: 6px;
        letter-spacing: .5px;
        background: var(--background);
        color: var(--text);
        box-shadow: var(--shadow);
        transform: translateY(var(--y)) translateZ(0);
        transition: transform var(--duration) ease, box-shadow var(--duration) ease;
        div {
            display: flex;
            overflow: hidden;
            text-shadow: 0 var(--font-shadow) 0 var(--text);
            span {
                display: block;
                backface-visibility: hidden;
                font-style: normal;
                transition: transform var(--duration) ease;
                transform: translateY(var(--m)) translateZ(0);
                $i: 1;
                @while $i < 12 {
                    &:nth-child(#{$i}) {
                        transition-delay: $i / 20 + s;
                    }
                    $i: $i + 1;
                }
            }
        }
        &:hover {
            --y: var(--move-hover);
            --shadow: var(--shadow-hover);
            span {
                --m: calc(var(--font-size) * -1);
            }
        }
        &.reverse {
            --font-shadow: calc(var(--font-size) * -1);
            &:hover {
                span {
                    --m: calc(var(--font-size));
                }
            }
        }
      }   
       
    
} 

.list-create-form {

    margin: 0 auto;
    width: 400px;
    margin-top: 50px;
        
        button{
            background-color: #000000;
            border: 1px solid #000000;
            color: white;
            margin-left: 8px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .post-btn {
            background-color: #e03a3a;
            border: 1px outset #e03a3a;
            color: white;
            margin-left: 8px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .post-item-input{
            width: 300px;

            &:focus{
                outline: none;
            }
        }

        .post-memo-input{
                width: 400px;
                height: 300px;    
                text-align:center ;

                &:focus{
                    outline: none;
                }
        }
}