.item-form {
    margin: 0 auto;
    width: 400px;
    display: flex;
    border: none;

    span{
        width: 100%;
        border: none;
        font-size: 15px;
        border-bottom: 0.75px solid black ;
    }

    .check-button{
        width: 50px;
        height: 20px;
        background: none;
        border: none;

        img{
            margin : 0 auto;
        }
    }    

    .edit-button{
        width: 50px;
        height: 20px;
        background-color: #3ea3de;
        border: 1px solid #3ea3de;  
        color: #FFFFFF;  
        border-radius: 5px;
        font-size: 12px;
        margin-left: 3px;
    }
    .delete-button{
        width: 50px;
        height: 20px;
        background-color: #de493e;
        border: 1px solid #de493e;  
        color: #FFFFFF;   
        border-radius: 5px;
        font-size: 12px;
        margin-left: 3px;
    }
}

//수정 모달 Style
.edit-modal-content{
    display: flex;
    float: right;
    margin-bottom: 10px;

    .list-edit-commit,
    .list-edit-close{
        background: none;
        border: none;
    }

    
}

.item-edit-input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;

        &:hover { 
            border: 2px solid #224B5E;  
            border-radius: 5px;
        }
        
        &:focus { 
            border: 2px solid #224B5E;  
            border-radius: 5px;
            outline: none;  
        }
}

.memo-edit-input{
        width: 100%;
        height: 300px;
        border-radius: 5px;
            &:hover { 
                border: 2px solid #224B5E;  
                border-radius: 5px;
            }
            
            &:focus { 
                border: 2px solid #224B5E;  
                border-radius: 5px;
                outline: none;  
            }
}