.user-edit{
    margin: 0 auto;

    button{
        margin-top: 10px;
        height: 30px;
        background-color: #224B5E;
        border: 1px solid #224B5E;
        border-radius: 5px;
        color: #FFFFFF;
        width: 370px;

        &:hover{
           background-color: #89CFF0;
           border: 1px solid #89CFF0;
           color: #000000;
        }
    }
}

.modal{
    width: 400px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);border: 0.75px solid #dfdfdf;
    margin-top: 15%;
    
    h2{
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }

    .edit-form{
        display: grid;
        // gap: 10px;
        padding: 20px;

        label{
            margin-top: 10px;
        }
   
        input{
            height: 30px;
            border: none;
            border-bottom: 1px solid black;

            &:focus{
                outline: none;
            }
        }

        .buttons{
            float:right;
            right: 0;
            margin-top: 10px;

            .commit-btn,
            .close-btn{
                float: right;
                border: none;
                background: none;
            }
        }
    }
        
}

