.header{
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        border-bottom: 1px solid #DDDDDD;
        background: #FFFFFF;
        margin: 0 auto;
        width: 0 auto;
    
        img {
            font-family: "Noto Sans", sans-serif;
            color: #000;
            font-size: 1.5625rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            width: 80px;
            height: 58px;
        }
    }
}