.list{
    width: 100%;

    .list-page{
        display: grid;

        .form{
            display: grid;
            margin: 0 auto;

            .today-list{
                margin: 0 auto;
                padding : 10px;
                font-size: 25px;
            }
            
            .container{
                border: none;
                display: grid;
                margin: 0 auto;
                margin-top: 10px;
                padding: 10px;
                gap: 5px;
            }
            
            
            .form-kakaomap{
                display: flexbox;
            }

            .map-form-div{
                display: flexbox;
            }
        }
    }
}

.map-div{
    position : absolute;
    right: 0;
}
