.my-header{
    //  margin: 0 auto;
        .my-page{
            // display: grid;
            margin: 0 auto;
            margin-top: 20px;
        
            .container{
                width: 400px;
                margin: 0 auto;
                display: grid;

                .form1{
                    display: grid;

                    img{
                        width: 150px;
                        height: 150px;
                        margin: 0 auto;
                        margin-top: 10px;
                    }

                    span{
                        margin: 0 auto;
                        margin-top: 15px;
                        font-size: 1.265rem;
                    }
                }

                .form2 {
                    display: grid;

                    .contents{
                        display: flex;
                    }
                    
                    .logout-button{
                        width: 100%;
                        margin:0 auto;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        background: none;
                        border:none;

                    }
                }

                
            }
        }
}
