.my-page{
    display: grid;
    
    .container{
        border: 1px solid;
        width: 420px;
        margin: 0 auto;
        display: grid;

        img{
            width: 150px;
            height: 150px;
            margin: 0 auto;
            margin-top: 10px;
        }

        span{
            margin: 0 auto;
            margin-top: 10px;
            font-size: 25px;
        }

        .logout-button{
            width: 100px;

            margin:0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
            background: none;
            border:none;
        }
    }
    
}